.appContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease-in-out;
  position: relative;
  padding-bottom: 80px;
}

.appContainer.drawerOpen .mainContent {
  margin-left: 200px;
}

.button {
  padding: 10px;
  background-color: rgb(81, 81, 81);
  border: none;
  cursor: pointer;
  z-index: 10;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.toggleButton {
  position: absolute;
  top: 20px;
  left: 16px;
}

.button:hover {
  background-color: lightgray;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
  overflow-y: auto;
  width: 100%;
  margin: 0 auto;
}

.roleCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.header {
  font-size: 3rem;
  color: #545454;
  text-align: center;
}

.openModalButton {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.openModalButton:hover {
  background-color: #218838;
}

.businessInfoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  user-select: none;
}

.businessInfo {
  font-size: 1rem;
  padding: 10px 15px;
  border: 2px solid #9a9a9a;
  border-radius: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.businessInfo:hover {
  border-color: #f9ce41;
  color: #f9ce41;
  transform: scale(1.02);
}

.editButton {
  position: absolute;
  top: 0px;
  right: -20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.businessInfoContainer:hover .editButton {
  opacity: 1;
}

.aboutLinkContainer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.aboutLinkDesktop {
  color: #f9ce41;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
}

.aboutLinkDesktop:hover {
  text-decoration: underline;
}

.aboutButtonMobile {
  display: none;
}

@media (max-width: 768px) {
  .aboutLinkDesktop {
    display: none;
  }

  .aboutButtonMobile {
    display: block;
  }
}
